# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Local environment files
*.local
.DS_Store

# IDE-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lock files (optional)
package-lock.json